/* GENERAL SETTINGS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fredoka', sans-serif;
}

/* HEADER */

.container {
    width: 80%;
    margin: auto;
}

header h1 {
    color: #e53170;
    text-align: center;
    margin: 2rem 0;
}

/* MAIN */
main>p:first-of-type {
    text-align: center;
}

/* card settings */
.card {
    background-color: #0f0e17;
    color: white;
    width: calc(100% / 3 - 2rem);
    float: left;
    margin: 2rem 1rem;
    box-shadow: 0 0 10px black
}

::after.clearfloat{
    content: "";
    clear: both;
    display: table;
}

.card img {
    float: left;
    height: 100px;
    margin-right: 1rem;
}

.card a {
    color: #1ac4ec;
    text-decoration: none;
}

.user_info{
    margin: 1rem;
}